html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  /* aspect-ratio: 1 / 1; */
}

li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
